
{% for p in prestaires%}
    <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="#">
            <div class="card-simple data-background-image="{{ asset('assets/img/tmp/product-1.jpg') }}" style="background-image: url('{{ asset('assets/img/tmp/product-1.jpg') }}');">
                <div class="card-simple-background">
                    <div class="card-simple-content">
                        <div class="card-simple-rating"><h2>{{ p.nom }}</h2></div>
                        <div class="card-simple-actions"><h2>description</h2></div>
                    </div>
                    <div class="card-simple-label">Massage</div>
                </div>
                <div class="card-simple-price">plus de détail >></div>
            </div>
        </a>
    </div>
{% endfor %}

<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card-simple" data-background-image="{{ asset('assets/img/tmp/product-1.jpg') }}" style="background-image: url('{{ asset('assets/img/tmp/product-1.jpg') }}');">
        <div class="card-simple-background">
            <div class="card-simple-content">
                <h2>
                    <a href="listing-detail.html">Prestataire 2</a>
                </h2>
                <div class="card-simple-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="card-simple-actions">
                    <a class="fa fa-star-o" href="#"></a>
                    <a class="fa fa-search" href="listing-detail.html"></a>
                    <a class="fa fa-heart-o" href="#"></a>
                </div>
            </div>
            <div class="card-simple-label">Massage</div>
            <div class="card-simple-price">Detail >></div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card-simple" data-background-image="{{ asset('assets/img/tmp/product-1.jpg') }}" style="background-image: url('{{ asset('assets/img/tmp/product-1.jpg') }}');">
        <div class="card-simple-background">
            <div class="card-simple-content">
                <h2>
                    <a href="listing-detail.html">Prestataire 3</a>
                </h2>
                <div class="card-simple-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="card-simple-actions">
                    <a class="fa fa-star-o" href="#"></a>
                    <a class="fa fa-search" href="listing-detail.html"></a>
                    <a class="fa fa-heart-o" href="#"></a>
                </div>
            </div>
            <div class="card-simple-label">Massage</div>
            <div class="card-simple-price">Detail >></div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card-simple" data-background-image="{{ asset('assets/img/tmp/product-1.jpg') }}" style="background-image: url('{{ asset('assets/img/tmp/product-1.jpg') }}');">
        <div class="card-simple-background">
            <div class="card-simple-content">
                <h2>
                    <a href="listing-detail.html">Prestataire 4</a>
                </h2>
                <div class="card-simple-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="card-simple-actions">
                    <a class="fa fa-star-o" href="#"></a>
                    <a class="fa fa-search" href="listing-detail.html"></a>
                    <a class="fa fa-heart-o" href="#"></a>
                </div>
            </div>
            <div class="card-simple-label">Massage</div>
            <div class="card-simple-price">Detail >></div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card-simple" data-background-image="{{ asset('assets/img/tmp/product-1.jpg') }}" style="background-image: url('{{ asset('assets/img/tmp/product-1.jpg') }}');">
        <div class="card-simple-background">
            <div class="card-simple-content">
                <h2>
                    <a href="listing-detail.html">Service du Mois</a>
                    {#pavé affichant le service du mois ou service à la une:
                    le pavé affiche le nom du service, si clique sur le pavé alors on affiche
                    la fiche descriptive du service #}
                </h2>
                <div class="card-simple-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="card-simple-actions">
                    <a class="fa fa-star-o" href="#"></a>
                    <a class="fa fa-search" href="listing-detail.html"></a>
                    <a class="fa fa-heart-o" href="#"></a>
                </div>
            </div>
            <div class="card-simple-label">Massage</div>
            <div class="card-simple-price">Detail >></div>
        </div>
    </div>
</div>