{% extends 'index.html.twig' %}
{% block bandeau %}{% endblock %}
{% block principal %}
    <div class="row filter bordered">
        <div class="col-xs-offset-1 col-xs-7 ">
            <h1 class=" text-primary">Modifier les données de l'établissement</h1>
            {{ form_start(edit_form) }}
            <div class="form-group ">
                {{ form_label(edit_form.nomEntreprise,'Nom  de l\'établissement') }}
                {{ form_widget(edit_form.nomEntreprise) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.description,'Description') }}
                {{ form_widget(edit_form.description) }}
            </div>
            <div class="form-group ">
                {{ form_label(edit_form.web,'Web') }}
                {{ form_widget(edit_form.web) }}
            </div>
            <div class="form-group ">
                {{ form_label(edit_form.emailDeContact,'Email de contact') }}
                {{ form_widget(edit_form.emailDeContact) }}
            </div>
            <div class="form-group ">
                {{ form_label(edit_form.telephone,'Numéro de téléphone') }}
                {{ form_widget(edit_form.telephone) }}
            </div>
            <div class="form-group ">
                {{ form_label(edit_form.numeroTva,'Numéro de TVA') }}
                {{ form_widget(edit_form.numeroTva) }}
            </div>
            <div class="form-group ">
                {{ form_label(edit_form.logo_file,'Logo (image)') }}
                {{ form_widget(edit_form.logo_file) }}
            </div>
            <hr/>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
            {{ form_end(edit_form) }}

{#            <ul>
                <li>
                    <a href="{{ path('liste_prestataires') }}">Back to the list</a>
                </li>
           <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>

            </ul>
            #}
        </div>
    </div>
{% endblock %}
