{% extends 'index.html.twig' %}
{% block bandeau %}{% endblock %}
{% block principal %}
    <div class="row filter bordered">
        <div class="col-xs-offset-1 col-xs-7 ">
            <h1 class=" text-primary">Données de l'Etablissement</h1>
            <div class="p15">
                <label class="text-capitalize">nom :</label>
                {{ prestataire.nomEntreprise}}
            </div>
            <div class="p15">
                <label class="text-capitalize">description :</label>
                {{ prestataire.description }}
            </div>
            <div class="p15">
                <label class="text-capitalize ">web :</label>
                {{ prestataire.web }}
            </div>
            <div class="p15">
                <label class="text-capitalize ">email de contact :</label>
                {{ prestataire.emailDeContact }}
            </div>
            <div class="p15">
                <label class="text-capitalize ">téléphone :</label>
                {{ prestataire.telephone }}
            </div>
            <div class="p15">
                <label class="text-capitalize ">numero de TVA :</label>
                {{ prestataire.numeroTva }}
            </div>
            <div class="p15">
                <label class="text-capitalize">logo :</label>
                {{ prestataire.logo }}
            </div>
            <div class="p15">
                <label class="text-capitalize ">Date d'inscription :</label>
                {% if prestataire.dateInscription %}{{ prestataire.dateInscription|date('Y-m-d H:i:s') }}{% endif %}
            </div>
            <hr/>
            <a href="{{ path('p_edit', { 'pretataireSlug': prestataire.pretataireSlug }) }}">Modifier</a>
        </div>
    </div>
{% endblock %}
