{% extends 'layout.html.twig' %}

{% block principal %}
    <div class="row">
        <div class="col-xs-offset-1 col-xs-7">
            <h1 class=" text-primary text-center">Profil de {{ app.user }}.</h1>
            <p>Veuillez compléter votre profil</p>
            {{ form_start(form) }}
            {#
                 {{ form_widget(form) }}
            <div class="form-group">
                {{ form_label(form.connexionDatas,'Connexion Data') }}
                {{ form_widget(form.connexionDatas) }}
            </div>
            #}
            <div class="form-group ">
                {{ form_label(form.nom,'Nom de l\'utilisateur') }}
                {{ form_widget(form.nom) }}
            </div>
            <div class="form-group ">
                {{ form_label(form.typeUtilisateur,'Type d\'utilisateur') }}
                {{ form_widget(form.typeUtilisateur) }}
            </div>
            <div class="form-group">
                {{ form_label(form.rue,'Rue') }}
                {{ form_widget(form.rue) }}
            </div>
            <div class="form-group">
                {{ form_label(form.rueNumero,'Rue N°') }}
                {{ form_widget(form.rueNumero) }}
            </div>
            <div class="form-group">
                {{ form_label(form.codePostal) }}
                {{ form_widget (form.codePostal)}}
            </div>
            <div>
                {{ form_label(form.province) }}
                {{ form_widget(form.province) }}
            </div>
            <div class="form-group">
                {{ form_label(form.localite) }}
                {{ form_widget(form.localite) }}
            </div>
            <hr/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            {{ form_end(form) }}
            {#
                <ul>
                    <li>
                        <a href="{{ path('utilisateur_index') }}">Back to the list</a>
                    </li>
                </ul>
            #}
        </div>
    </div>
{% endblock %}
