<header class="header">
    <div class="header-wrapper">
        <div class="container">
            <div class="header-inner">
                <div class="header-logo">
                    <a href="{{ url('homepage') }}">
                        <img src="{{ asset('assets/img/logo-francois-new.png') }}" alt="Logo">
                        <span>Annuaire Bien être </span>
                    </a>
                </div><!-- /.header-logo -->

                <div class="header-content">
{#                    <div class="header-top">
                        <ul class="header-nav-secondary nav nav-pills">
                            <li><a href="{{ url('fos_user_security_login') }}">Account</a></li>
                        </ul>
                    </div><!-- /.header-top -->
  #}
                    <div class="header-bottom">
                        <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">
                            <li class="active"><a href="{{ url('homepage') }}">Home</a></li>
                            <li><a href="{{ url('liste_prestataires') }}">Prestataires</a></li>
                            <li><a href="{{ url('liste_services_valide') }}">Catégorie des services</a></li>
                            <li><a href={{ url('contact') }}>Contact</a></li>
                            <li><a href="{{ url('apropos') }}">A propos</a></li>
                            <li><a href="#">Compte </a>
                                <ul class="sub-menu">
                                    <li><a href="{{ url('fos_user_security_login') }}">connecter</a></li>
                                    <li><a href="{{ url('fos_user_security_logout') }}">déconnecter</a></li>
                                    <li><a href="{{ url('fos_user_registration_register') }}">creer</a></li>
                                    <li><a class="" href="{{ path('fos_user_resetting_request') }}">compte perdu</a></li>
                                    <li><a href="#">admin</a></li>
                                </ul>
                            </li>
                        </ul>
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".header-nav-primary">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div><!-- /.header-bottom -->
                </div><!-- /.header-content -->
            </div><!-- /.header-inner -->
        </div><!-- /.container -->
    </div><!-- /.header-wrapper -->
</header><!-- /.header -->




