<div class="mb80">
    <div class="hero-slider">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="item active ">
                    <div class="item-bg" style="background-image: url('{{ asset('assets/img/slider/fitness-s2-large.jpg') }}')"></div>
                    <img src="{{ asset('assets/img/slider/fitness-s2-large.jpg') }}" alt="">
                    <div class="carousel-caption">
                        <div class="hero-slider-content">
                            <h1>Etirement ...</h1>
                        </div><!-- /.hero-slider-content -->
                    </div><!-- /.carousel-caption -->
                </div><!-- /.item -->
                {% for s in sliders %}
                    <div class="item">
                        <div class="item-bg" style="background-image: url('{{(asset(image_slider ~ s.imageName)) }}')"></div>
                        <img src="{{ asset(image_slider ~ s.imageName) }}" alt=""/> {# image_slider est une varible globale #}
                        <div class="carousel-caption">
                            <div class="hero-slider-content">
                                <h1>{{ s.nom }}</h1>
                            </div><!-- /.hero-slider-content -->
                        </div><!-- /.carousel-caption -->
                    </div><!-- /.item -->
                {% endfor %}
            </div><!-- /.carousel-inner -->

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-long-arrow-left"></i>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-long-arrow-right"></i>
            </a>
        </div>
    </div><!-- /.hero-slider -->

</div>