
<div class="col-sm-6 col-md-4 col-lg-4">
    <a href="#">
       {# <div class="card-simple" data-background-image="{{ asset('assets/img/tmp/product-1.jpg') }}" style="background-image: url('{{ asset('assets/img/tmp/product-1.jpg') }}');">#}
        <div class="card-simple" data-background-image="{{ asset(image_slider ~ serviceDuMois.imageName) }}" style="background-image: url('{{ asset('assets/img/tmp/product-1.jpg') }}');">
            <div class="card-simple-background">
                <div class="card-simple-content">
                    <div class=""><h2>{{ serviceDuMois.nom }}</h2></div>
                </div>
                <div class="card-simple-price">Detail >></div>
            </div>
        </div>
    </a>
</div>